<app-card [titulo]="'Lista de eventos'">

    <div class="p-d-flex p-jc-end">
        <button class="p-m1-2" type="button" (click)="mostrarDialogCadastroEvento()" pButton
            label="Cadastrar Evento Dialog"></button>
    </div>

    <p-accordion [multiple]="true">
        <p-accordionTab header={{evento.titulo}} *ngFor="let evento of eventos">
            <p-table [value]="[evento]">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Data de Inicio</th>
                        <th>Data de Termino</th>
                        <th>Quantidade de Vagas</th>
                        <th>Valor(R$)</th>
                        <th>Local do Evento</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-e>
                    <tr>
                        <td>{{e.dataInicio | date: 'dd/MM/yyyy HH:mm'}}</td>
                        <td>{{e.dataTermino | date: 'dd/MM/yyyy HH:mm'}}</td>
                        <td>{{e.quantVagas}}</td>
                        <td>{{e.valor}}</td>
                        <td>{{e.localEvento}}</td>
                    </tr>
                </ng-template>
            </p-table>
            <div style="display: flex; justify-content: flex-end; margin-top: 6px;">
                <button style="margin: 5px;" (click)="mostrarDialogEditar(evento.id)" pButton type="button"
                    icon="pi pi-pencil"></button>
                <button style="margin: 5px;" (click)="confirmarDeletarEvento(evento.id)" class="p-m1-2" pButton
                    type="button" icon="pi pi-trash"></button>
                <button style="margin: 5px; align-items: center; display: inline-flex;"
                    (click)="mostrarDialogPerguntasPorEvento(evento.id)" class="p-m1-2" pButton type="button"
                    icon="pi pi-question"></button>
                <p-button  style="margin: 5px; align-items: center; display: inline-flex;" type="button" (click)="mostrarSideBar(evento.id)" icon="pi pi-users"></p-button>
            </div>
        </p-accordionTab>
    </p-accordion>

</app-card>


<p-sidebar [style]="{'overflow': 'scroll'}" [(visible)]="visibleSidebar4" position="top" [baseZIndex]="10000">
    <div style="width: 100%">
        <h1 style="font-weight:normal;">{{evento.titulo}}</h1>
        <app-gerenciar [idEvento]="idEventoSel"></app-gerenciar>
    </div>
</p-sidebar>

<p-confirmDialog header="Confirmar Remover Evento" icon="pi pi-exclamation-triangle"></p-confirmDialog>

<p-dialog header="Evento" [(visible)]="exibirDialogEvento">
    <app-formulario [evento]="evento" [edicao]="formularioEdicao" (eventoSalvo)="fecharDialog($event)">
    </app-formulario>
</p-dialog>

<p-dialog header="Perguntas" [(visible)]="exibirDialogPergunta">
    <app-listagem-questao *ngIf="idEventoSel" [idEvento]="idEventoSel" [isAdmin]=true></app-listagem-questao>
</p-dialog>