<app-card>
    <h5>Responda as perguntas a seguir:</h5>
    <div *ngFor="let pergunta of perguntas" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">
        <label style="text-align:inherit;" for="firstname2">{{ pergunta.titulo }}</label>
        <textarea style="text-align: center;" type="text" pInputText [(ngModel)]="pergunta.resposta" id="firstname2" rows="5" cols="30" pInputTextarea autoResize="autoResize"></textarea>
        <!-- <input id="firstname2" [(ngModel)]="pergunta.resposta" type="text" pInputText /> -->
        {{pergunta | json}}
    </div>
    
</app-card>