<app-card [titulo]="'Lista de eventos'">

    <p-accordion [multiple]="true">
        <p-accordionTab header= {{evento.titulo}} *ngFor="let evento of eventos">
            <p-table [value]="[evento]">
                <ng-template pTemplate = "header">
                    <tr>
                        <th>Data de Inicio</th>
                        <th>Data de Termino</th>
                        <th>Quantidade de Vagas</th>
                        <th>Valor(R$)</th>                        
                        <th>Local do Evento</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate = "body" let-e>
                    <tr>
                        <td>{{e.dataInicio | date: 'dd/MM/yyyy HH:mm'}}</td>
                        <td>{{e.dataTermino | date: 'dd/MM/yyyy HH:mm'}}</td>
                        <td>{{e.quantVagas}}</td>
                        <td>{{e.valor}}</td>
                        <td>{{e.localEvento}}</td>
                    </tr>
                </ng-template>
            </p-table>
            <!-- Botão reservado para se inscrever no evento -->
            <button></button>
        </p-accordionTab>
    </p-accordion>                
</app-card>