<form [formGroup]="formEvento">

    <div class="p-grid p-dir-col">
  
      <input type="text" [(ngModel)]="evento.titulo" placeholder="Titulo do Evento" formControlName="titulo" pInputText />
      <div *ngIf="formEvento.get('titulo').invalid">Título requerido</div>
  
      <input type="datetime-local" [(ngModel)]="evento.dataInicio" placeholder="Data e Hora" formControlName="dataInicio" pInputText />
      

      <input type="datetime-local" [(ngModel)]="evento.dataTermino" placeholder="Data e Hora" formControlName="dataTermino" pInputText />
      <input type="text" [(ngModel)]="evento.descricao" placeholder="Descricao" formControlName="descricao" pInputText />
      <input type="text" [(ngModel)]="evento.quantVagas" placeholder="Vagas" formControlName="quantVagas" pInputText />
      <input type="text" [(ngModel)]="evento.valor" placeholder="Valor" formControlName="valor" pInputText />
      <input type="text" [(ngModel)]="evento.localEvento" placeholder="Local" formControlName="localEvento" pInputText />
      
      <p-dropdown [options]="tiposEventos" [(ngModel)]="tipoEventoSelecionado" formControlName="tipoEvento" optionLabel="descricao"></p-dropdown> 
                     
      
    </div>
    {{formEvento.value | json}}
  </form>
  
  <button [routerLink]="" (click)="salvar()"  pButton type="button" label="Cadastrar" ></button>
